
%link{:href => "http://htmlstream.com/preview/unify-v1.7/assets/css/plugins.css", :rel => "stylesheet"}
%link{:href => "http://htmlstream.com/preview/unify-v1.7/assets/css/plugins/style-switcher.css", :rel => "stylesheet"}
.wrapper
	.header
		.container
		/ /navbar-collapse
	/ === End Header ===
	/ === Breadcrumbs ===
	.breadcrumbs
		.container
			%h1.pull-left О нас
			%ul.pull-right.breadcrumb
				%li
					%a{:href => "index.html"} Главная
				%li.active  О нас
		/ /container
	/ /breadcrumbs
	/ === End Breadcrumbs ===
	/ === Content Part ===
	.container.content
		.title-box-v2
			%h2
				Основные направления деятельности
			%p.color-green{style: "font-size: 16px;"}
				Основными задачами ГБУЗ "МИАЦ Калужской области" являются проведение анализа информации о состоянии здоровья населения и деятельности учреждений здравоохранения, обеспечение статистическими сборниками и аналитическими документами ЛПУ районов и города Калуги, а так же министерство здравоохранения города Калуги, внедрение новых технологий аналитической обработки медико-статистических данных в работу МИАЦ с использованием современных программных средств.
		.title-box-v2
			%h2
				Задачи выполняемые МИАЦ
		.row
			.col-md-6
				.banner-info.dark.margin-bottom-10
					/ %i.rounded-x.fa.fa-thumbs-o-up
					.overflow-h
						%h3 Координация работ 
						%p в области информатизации учреждений здравоохранения соддержание в актуальном состоянии региональной информационной медицинской вычислительной сети разработка программных средств создание и поддержание в актуальном состоянии единой нормативно-справочной информации, сбор, обработка, свод, контроль достоверности и анализ медицинской статистической информации;
				.banner-info.dark.margin-bottom-10
					/ %i.rounded-x.fa.fa-magic
					.overflow-h
						%h3 Создание регистров
						%p банков и хранилищ данных обработка и анализ имеющейся информации для составления отчетов, докладов, рефератов по поручению министерства здравоохранения;
				.banner-info.dark.margin-bottom-10
					/ %i.rounded-x.fa.fa-thumbs-o-up
					.overflow-h
						%h3 Подготовка кадров
						%p для работы с современным программным обеспечением научно-исследовательская деятельность редакционно-издательская и полиграфическая деятельность техническое обслуживание средств вычислительной техники;
				.banner-info.dark.margin-bottom-10
					/ %i.rounded-x.fa.fa-thumbs-o-up
					.overflow-h
						%h3 Реализация мероприятий
						%p федеральной программы национального проекта «Здоровье», направленную на совершенствование оказания медицинской помощи больным с сосудистыми заболеваниями.
				.margin-bottom-20
			.col-md-6
				.banner-info.dark.margin-bottom-10
					/ %i.rounded-x.fa.fa-thumbs-o-up
					.overflow-h
						%h3 С 2008 года
						%p участвует в обслуживании рецептов по программе дополнительного лекарственного обеспечения;
				.banner-info.dark.margin-bottom-10
					/ %i.rounded-x.fa.fa-magic
					.overflow-h
						%h3 Сопровождение конференций 
						%p и презентаций необходимой техникой, а с 2007 года активное участие во внедрении и продвижение телемедецинских сеансов связи;
				.banner-info.dark.margin-bottom-10
					/ %i.rounded-x.fa.fa-thumbs-o-up
					.overflow-h
						%h3 Оказание технической помощи
						%p учреждениям здравоохранения Калужской области в настройке и конфигурированию сетевого оборудования, серверов, рабочих станций, монтаж ЛВС, подготовка статистических материалов;
				.banner-info.dark.margin-bottom-10
					/ %i.rounded-x.fa.fa-thumbs-o-up
					.overflow-h
						%h3 Реализация программы
						%p модернизации здравоохранения Калужской области в части её информатизации.


	/ .container.content
	/ 	.title-box-v2
	/ 		%h2
	/ 			Our Company
	/ 			%span.color-green life
	/ 		%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	/ 	.row.margin-bottom-40
	/ 		/ Begin Easy Block v2
	/ 		.col-md-3.col-sm-6.md-margin-bottom-20
	/ 			.simple-block
	/ 				%img.img-responsive.img-bordered.margin-bottom-10{:alt => "", :src => "assets/img/main/img3.jpg"}/
	/ 				%p Pellentesque et erat ac massa cursus porttitor eget sed magna.
	/ 		/ End Simple Block
	/ 		/ Begin Easy Block v2
	/ 		.col-md-3.col-sm-6.md-margin-bottom-20
	/ 			.simple-block
	/ 				%img.img-responsive.img-bordered.margin-bottom-10{:alt => "", :src => "assets/img/main/img4.jpg"}/
	/ 				%p Pellentesque et erat ac massa cursus porttitor eget sed magna.
	/ 		/ End Simple Block
	/ 		/ Begin Easy Block v2
	/ 		.col-md-3.col-sm-6.md-margin-bottom-20
	/ 			.simple-block
	/ 				%img.img-responsive.img-bordered.margin-bottom-10{:alt => "", :src => "assets/img/main/img16.jpg"}/
	/ 				%p Pellentesque et erat ac massa cursus porttitor eget sed magna.
	/ 		/ End Simple Block
	/ 		/ Begin Easy Block v2
	/ 		.col-md-3.col-sm-6.md-margin-bottom-20
	/ 			.simple-block
	/ 				%img.img-responsive.img-bordered.margin-bottom-10{:alt => "", :src => "assets/img/main/img7.jpg"}/
	/ 				%p Pellentesque et erat ac massa cursus porttitor eget sed magna.
	/ 		/ End Simple Block
	/ 	.row
	/ 		/ Begin Easy Block v2
	/ 		.col-md-6.col-sm-6.md-margin-bottom-20
	/ 			.simple-block
	/ 				.embed-responsive.embed-responsive-16by9.margin-bottom-10
	/ 					%iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/67167840?title=0&byline=0&portrait=0", :webkitallowfullscreen => ""}
	/ 		/ End Simple Block
	/ 		/ Begin Easy Block v2
	/ 		.col-md-6.col-sm-6.md-margin-bottom-20
	/ 			.simple-block
	/ 				.embed-responsive.embed-responsive-16by9.margin-bottom-10
	/ 					%iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/70528799", :webkitallowfullscreen => ""}
	/ 		/ End Simple Block
	/ / /container
	/ / === Container Part ===
	/ === Meet Our Team ===
	.parallax-team.parallaxBg
		.container.content
			.title-box-v2
				%h2
					Наша 
					%span.color-green команда
				%p 
			.row
				/ Team v2
				.col-md-3.col-sm-6
					.team-v2
						/ %img.img-responsive{:alt => "", :src => ""}/
						.inner-team
							%h3 
								%strong
									Малахов 
								%p
									Дмитрий Андреевич
							%small.color-green И.о. Директора МИАЦ
							%p 
							%hr/
							%ul.list-inline.team-social
								%li
									%a.tw.tooltips{"data-original-title" => "Twitter", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#"}
										%i.fa.fa-phone
								%li
									%a.gp.tooltips{"data-original-title" => "Google plus", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#"}
										%i.fa.fa-envelope-o 
				/ End Team v2
				/ Team v2
				.col-md-3.col-sm-6
					.team-v2
						/ %img.img-responsive{:alt => "", :src => ""}/
						.inner-team.jumbotron
							%h3 
								%strong
									Сыроежкин 
								Андрей Владимирович
							%small.color-green НЕИЗВЕСТНО
							
							%hr/
							%ul.list-inline.team-social
								%li
									%a.fb.tooltips{"data-original-title" => "Facebook", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#"}
										%i.fa.fa-facebook
								%li
									%a.tw.tooltips{"data-original-title" => "Twitter", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#"}
										%i.fa.fa-twitter
								%li
									%a.gp.tooltips{"data-original-title" => "Google plus", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#"}
										%i.fa.fa-google-plus
				/ End Team v2
				/ Team v2
				.col-md-3.col-sm-6
					.team-v2
						/ %img.img-responsive{:alt => "", :src => "assets/img/team/img3-md.jpg"}/
						.inner-team
							%h3 Селезнев Михаил Михайлович
							%small.color-green Ведущий программист
							
							%hr/
							%ul.list-inline.team-social
								%li
									%a.fb.tooltips{"data-original-title" => "Facebook", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#"}
										%i.fa.fa-facebook
								%li
									%a.tw.tooltips{"data-original-title" => "Twitter", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#"}
										%i.fa.fa-twitter
								%li
									%a.gp.tooltips{"data-original-title" => "Google plus", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#"}
										%i.fa.fa-google-plus
				/ End Team v2
				/ Team v2
				.col-md-3.col-sm-6
					.team-v2
						/ %img.img-responsive{:alt => "", :src => "assets/img/team/img5-md.jpg"}/
						.inner-team
							%h3 Donec Elisson
							%small.color-green Director, R & D Talent.
							%hr/
							%ul.list-inline.team-social
								%li
									%a.fb.tooltips{"data-original-title" => "Facebook", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#"}
										%i.fa.fa-facebook
								%li
									%a.tw.tooltips{"data-original-title" => "Twitter", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#"}
										%i.fa.fa-twitter
								%li
									%a.gp.tooltips{"data-original-title" => "Google plus", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#"}
										%i.fa.fa-google-plus
				/ End Team v2
	/ === End Meet Our Team ===
	/ === Contacts ===
	.contacts.content
		.container
			.title-box-v2
				%h2
					Контакты
					%span.color-green с нами
				%p Мы находимся на территории Калужской областной больницы, которая расположена в районе Аненки, г. Калуги. Проезд маршрутными такси №22, №32 и №31 до конечной остановки. Цокольный этаж корпуса №5.

				%h3 Мы работаем
				%ul.list-inline.margin-bottom-20
					%li
						%strong Понедельника-Четверг:
						8:30 до 17:30
					%li
						%strong Пятница:
						8:30 до 17:00
					%li
						%strong Суббота-Воскресенье:
						Выходной
				.col-md-6.col-sm-6
					/ Google Map
					%h3 Google Карта с указанием нашего корпуса
					#map.map{:style => "position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);"}
						%iframe{:frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4629.720514914088!2d36.18125657753847!3d54.53595926101571!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTTCsDMyJzEyLjEiTiAzNsKwMTEnMDEuMyJF!5e0!3m2!1sru!2sru!4v1433321301675", :style => "border:0", :width => "600"}
					/ End Google Map
				.col-md-6.col-sm-6
					%h3 Телефонный справочник
					%table.table.table-bordered.table-condensed
						%tr
							%th{style: "width:60%;"}
								Директор
							
							%td
								+7 (4842) 79-67-10 доб. 11
						%tr
							%th
								Административный отдел 
							%td
								+7 (4842) 72-58-09 доб. 21
						%tr
							%th
								Отдел эксплуатации 
							%td
								+7 (4842) 72-58-09  доб. 22
						%tr
							%th
								Отдел сбора и обработки медико-статической информации 
							%td
								+7 (4842) 72-57-15 доб. 31
						%tr
							%th
								Отдел программирования 
							%td
								+7 (4842) 72-57-15  доб. 32
						%tr
							%th
								Статистический отдел 
							%td
								+7 (4842) 72-58-75 доб. 41
						%tr
							%th
								Аналитический отдел 
							%td
								+7 (4842) 72-58-75 доб. 41
						%tr
							%th
								Отел взаимод. с рег. мед.сетями
							%td
								+7 (4842) 72-58-06 доб. 46
						%tr
							%th
								Отдел ДЛО
							%td
								+7 (4842) 72-58-06 доб. 45
						%tr
							%th
								Технический отдел 
							%td
								+7 (4842) 79-67-11 доб. 47

					
	/ === End Contacts ===
	/ === Footer Version 1 ===
	