%link{:href => "http://htmlstream.com/preview/unify-v1.7/assets/css/pages/blog.css", :rel => "stylesheet"}

.container.content.blog-page.blog-item
  / Blog Post
  = link_to "Назада", :back, class: "btn btn-primary"

  .blog.margin-bottom-40
    .blog-img
      %img.img-responsive{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/sliders/4.jpg"}/
    %h2
      %a{:href => "blog_item_option1.html"} Unify is an incredibly beautiful and fully responsive Bootstrap 3 Template
    .blog-post-tags
      %ul.list-unstyled.list-inline.blog-info
        %li
          %i.fa.fa-calendar
          February 02, 2013
        %li
          %i.fa.fa-pencil
          Diana Anderson
        %li
          %i.fa.fa-comments
          %a{:href => "#"} 24 Comments
        %li
          %i.fa.fa-tags
          Technology, Education, Internet, Media
    %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, mollitia animi, id est laborum et dolorum fug consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna.
    %br/
    .tag-box.tag-box-v2
      %p Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet consectetur adipiscing elit. Fusce condimentum eleifend enim a feugiatt non libero consectetur adipiscing elit magna. Sed et quam lacus. Condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat.
    %p Officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, mollitia animi, id est laborum et dolorum fug consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend.
    %p Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum
    %br/
    %blockquote
      %p Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why.
      %small CEO Jack Bour
    %p Deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, mollitia animi, id est laborum et dolorum fug consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus.
  / End Blog Post
  %hr/
  / Recent Comments
  .media
    %h3 Comments
    %a.pull-left{:href => "#"}
      %img.media-object{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/testimonials/img2.jpg"}/
    .media-body
      %h4.media-heading
        Media heading
        %span
          5 hours ago /
          %a{:href => "#"} Reply
      %p Donec id erum quidem rerumd facilis est et expedita distinctio lorem ipsum dolorlit non mi portas sats eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna..
      %hr/
      .media
        %a.pull-left{:href => "#"}
          %img.media-object{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/testimonials/img5.jpg"}/
        .media-body
          %h4.media-heading
            Media heading
            %span
              17 hours ago /
              %a{:href => "#"} Reply
          %p Donec id erum quidem rerumd facilis est et expedita distinctio lorem ipsum dolorlit non mi portas sats eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna..
      %hr/
      .media
        %a.pull-left{:href => "#"}
          %img.media-object{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/testimonials/img1.jpg"}/
        .media-body
          %h4.media-heading
            Media heading
            %span
              2 days ago /
              %a{:href => "#"} Reply
          %p Donec id erum quidem rerumd facilis est et expedita distinctio lorem ipsum dolorlit non mi portas sats eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna..
  / /media
  .media
    %a.pull-left{:href => "#"}
      %img.media-object{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/testimonials/img4.jpg"}/
    .media-body
      %h4.media-heading
        Media heading
        %span
          July 5,2013 /
          %a{:href => "#"} Reply
      %p Donec id erum quidem rerumd facilis est et expedita distinctio lorem ipsum dolorlit non mi portas sats eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna..
  / /media
  / End Recent Comments
  %hr/
  / Comment Form
  .post-comment
    %h3 Leave a Comment
    %form
      %label Name
      .row.margin-bottom-20
        .col-md-7.col-md-offset-0
          %input.form-control{:type => "text"}/
      %label
        Email
        %span.color-red *
      .row.margin-bottom-20
        .col-md-7.col-md-offset-0
          %input.form-control{:type => "text"}/
      %label Message
      .row.margin-bottom-20
        .col-md-11.col-md-offset-0
          %textarea.form-control{:rows => "8"}
      %p
        %button.btn-u{:type => "submit"} Send Message
  / End Comment Form