.footer-v1
	.footer
		.container
			.row
				.col-md-3.md-margin-bottom-40
					%a{:href => "index.html"}
						= image_tag("MIAC_full_white.png", class: "white_footer")
					%br
						%p
							Официальный сайт 
							Государственного Бюджетного учреждения здравоохранения Калужской области Медицинского Информационно-аналитического Центра Калужской области.
				.col-md-3.md-margin-bottom-40
					.posts
						.headline
							%h2 Последние новости
						%ul.list-unstyled.latest-list
							/ %li
							/ 	%a{:href => "#"} Incredible content
							/ 	%small May 8, 2014
							/ %li
							/ 	%a{:href => "#"} Best shoots
							/ 	%small June 23, 2014
							/ %li
							/ 	%a{:href => "#"} New Terms and Conditions
							/ 	%small September 15, 2014
				.col-md-3.md-margin-bottom-40
					.headline
						%h2 Ссылки
					%ul.list-unstyled.link-list
						%li
							%a{:href => "#"} О нас
							%i.fa.fa-angle-right
						%li
							%a{:href => "#"} Статистика
							%i.fa.fa-angle-right
						%li
							%a{:href => "#"} Проекты
							%i.fa.fa-angle-right
						%li
							%a{:href => "#"} Услуги
							%i.fa.fa-angle-right
						%li
							%a{:href => "#"} ЛПУ
							%i.fa.fa-angle-right

				.col-md-3.map-img.md-margin-bottom-40
					.headline
						%h2 Contact Us
					%address.md-margin-bottom-40
						Калужская область, г. Калуга
						
						%br/
						ул. Вишневского д.1
						/ %br/
						/ Phone: 800 123 3456
						/ %br/
						/ Fax: 800 123 3456
						%br/
						Email:
						%a{:href => "mailto:admin@miac.kaluga.ru"} admin@miac.kaluga.ru
	.copyright
		.container
			.row
				.col-md-6
					%p
						2015 © Все права защищены.
						%a{:href => "#"} ГБУЗ КО МИАЦ Калужской области
						|
						%a{:href => "#"} Cистема MEDNET
				/ Social Links
				.col-md-6
					%ul.footer-socials.list-inline
						%li
							%a.tooltips{"data-original-title" => "Facebook", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => ""}
								%i.fa.fa-facebook
						%li
							%a.tooltips{"data-original-title" => "Skype", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => ""}
								%i.fa.fa-skype
						/ %li
						/ 	%a.tooltips{"data-original-title" => "Google Plus", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => ""}
						/ 		%i.fa.fa-google-plus
						/ %li
						/ 	%a.tooltips{"data-original-title" => "Linkedin", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => ""}
						/ 		%i.fa.fa-linkedin
						/ %li
						/ 	%a.tooltips{"data-original-title" => "Pinterest", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => ""}
						/ 		%i.fa.fa-pinterest
						%li
							%a.tooltips{"data-original-title" => "Twitter", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => ""}
								%i.fa.fa-twitter
						/ %li
						/ 	%a.tooltips{"data-original-title" => "Dribbble", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => ""}
						/ 		%i.fa.fa-dribbble
				/ End Social Links
	/ /copyright
/ === End Footer Version 1 ===