.owl-carousel-v1.owl-work-v1.margin-bottom-40
	.headline
		%h2.pull-left Новости
	
	/ %center
	/ 	%h3 Данный раздел находится в наполнении
	%link{:href => "http://htmlstream.com/preview/unify-v1.7/assets/css/pages/page_job.css", :rel => "stylesheet"}/

.row.high-rated.margin-bottom-20
	/ Easy Block
	.col-md-3.col-sm-6.md-margin-bottom-40
		.easy-block-v1
			.easy-block-v1-badge.rgba-default Marketing
			#carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
				%ol.carousel-indicators
					%li.rounded-x{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
					%li.rounded-x{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
					%li.rounded-x.active{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
				.carousel-inner
					.item
						%img{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img3.jpg"}/
					.item
						%img{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img1.jpg"}/
					.item.active
						%img{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img7.jpg"}/
			.overflow-h
				%h3 Savoy Hotel London
				.star-vote.pull-right
					%ul.list-inline
						%li
							%i.color-green.fa.fa-star
						%li
							%i.color-green.fa.fa-star
						%li
							%i.color-green.fa.fa-star
						%li
							%i.color-green.fa.fa-star-half-o
						%li
							%i.color-green.fa.fa-star-o
			%ul.list-unstyled
				%li
					%span.color-green Position:
					Manager / Executive
				%li
					%span.color-green Required:
					5 - years of experience
			%a.btn-u.btn-u-sm{:href => "#"} View More
	/ End Easy Block
	/ Easy Block
	.col-md-3.col-sm-6.md-margin-bottom-40
		.easy-block-v1
			.easy-block-v1-badge.rgba-red Marketing
			#carousel-example-generic-2.carousel.slide{"data-ride" => "carousel"}
				%ol.carousel-indicators
					%li.rounded-x{"data-slide-to" => "0", "data-target" => "#carousel-example-generic-2"}
					%li.rounded-x.active{"data-slide-to" => "1", "data-target" => "#carousel-example-generic-2"}
					%li.rounded-x{"data-slide-to" => "2", "data-target" => "#carousel-example-generic-2"}
				.carousel-inner
					.item
						%img{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img12.jpg"}/
					.item.active
						%img{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img10.jpg"}/
					.item
						%img{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img21.jpg"}/
			.overflow-h
				%h3 Thomas Cook Holidays
				%ul.list-inline.star-vote
					%li
						%i.color-green.fa.fa-star
					%li
						%i.color-green.fa.fa-star
					%li
						%i.color-green.fa.fa-star
					%li
						%i.color-green.fa.fa-star
					%li
						%i.color-green.fa.fa-star-half-o
			%ul.list-unstyled
				%li
					%span.color-green Position:
					Marketing / Advertising
				%li
					%span.color-green Required:
					7 - years of experience
			%a.btn-u.btn-u-sm{:href => "#"} View More
	/ End Easy Block
	/ Easy Block
	.col-md-3.col-sm-6.md-margin-bottom-40
		.easy-block-v1
			.easy-block-v1-badge.rgba-blue Education
			#carousel-example-generic-3.carousel.slide{"data-ride" => "carousel"}
				%ol.carousel-indicators
					%li.rounded-x{"data-slide-to" => "0", "data-target" => "#carousel-example-generic-3"}
					%li.rounded-x.active{"data-slide-to" => "1", "data-target" => "#carousel-example-generic-3"}
					%li.rounded-x{"data-slide-to" => "2", "data-target" => "#carousel-example-generic-3"}
				.carousel-inner
					.item
						%img{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img4.jpg"}/
					.item.active
						%img{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img14.jpg"}/
					.item
						%img{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img8.jpg"}/
			.overflow-h
				%h3 University of Aberdeen
				%ul.list-inline.star-vote
					%li
						%i.color-green.fa.fa-star
					%li
						%i.color-green.fa.fa-star
					%li
						%i.color-green.fa.fa-star
					%li
						%i.color-green.fa.fa-star-o
					%li
						%i.color-green.fa.fa-star-o
			%ul.list-unstyled
				%li
					%span.color-green Position:
					Education / Training
				%li
					%span.color-green Required:
					10 - years of experience
			%a.btn-u.btn-u-sm{:href => "#"} View More
	/ End Easy Block
	/ Easy Block
	.col-md-3.col-sm-6
		.easy-block-v1
			.easy-block-v1-badge.rgba-purple IT Management
			#carousel-example-generic-4.carousel.slide{"data-ride" => "carousel"}
				%ol.carousel-indicators
					%li.rounded-x{"data-slide-to" => "0", "data-target" => "#carousel-example-generic-4"}
					%li.rounded-x.active{"data-slide-to" => "1", "data-target" => "#carousel-example-generic-4"}
					%li.rounded-x{"data-slide-to" => "2", "data-target" => "#carousel-example-generic-4"}
				.carousel-inner
					.item
						%img{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img20.jpg"}/
					.item.active
						%img{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img23.jpg"}/
					.item
						%img{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img25.jpg"}/
			.overflow-h
				%h3 IT Project Management
				%ul.list-inline.star-vote
					%li
						%i.color-green.fa.fa-star
					%li
						%i.color-green.fa.fa-star
					%li
						%i.color-green.fa.fa-star
					%li
						%i.color-green.fa.fa-star
					%li
						%i.color-green.fa.fa-star-o
			%ul.list-unstyled
				%li
					%span.color-green Position:
					Project / Program Management
				%li
					%span.color-green Required:
					2 - years of experience
			%a.btn-u.btn-u-sm{:href => "#"} View More
	/ End Easy Block

