.owl-carousel-v1.owl-work-v1.margin-bottom-40
	.headline
		%h2.pull-left Новости
		.owl-navigation
			.customNavigation
				%a.owl-btn.prev-v2
					%i.fa.fa-angle-left
				%a.owl-btn.next-v2
					%i.fa.fa-angle-right
		/ /navigation
	.owl-recent-works-v1.owl-carousel.owl-theme{:style => "opacity: 1; display: block;"}
		.owl-wrapper-outer
			.owl-wrapper{:style => "width: 7600px; left: 0px; display: block;"}
				.owl-item{:style => "width: 380px;"}
					.item
						%a{:href => "#"}
							%em.overflow-hidden
								%img.img-responsive{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img1.jpg"}/
							%span
								%strong Happy New Year
								%i Anim pariatur cliche reprehenderit
				.owl-item{:style => "width: 380px;"}
					.item
						%a{:href => "#"}
							%em.overflow-hidden
								%img.img-responsive{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img2.jpg"}/
							%span
								%strong Award Winning Agency
								%i Responsive Bootstrap Template
				.owl-item{:style => "width: 380px;"}
					.item
						%a{:href => "#"}
							%em.overflow-hidden
								%img.img-responsive{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img3.jpg"}/
							%span
								%strong Wolf Moon Officia
								%i Pariatur prehe cliche reprehrit
		.owl-controls.clickable
			.owl-pagination
				.owl-page.active
					%span
				.owl-page
					%span
				.owl-page
					%span
				.owl-page
					%span