.container.content
	.margin-bottom-10
	/ Service Blocks
	.row.content-boxes-v2.margin-bottom-30
		.col-md-4.md-margin-bottom-30
			%h2.heading-sm
				%a.link-bg-icon{:href => "#"}
					%i.icon-custom.icon-sm.rounded-x.icon-bg-dark.fa.fa-compress
					%span РМИС
			%p.text-justify At vero eos et accusamus et iusto odio dignissimos ducimus. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been..
		.col-md-4.md-margin-bottom-30
			%h2.heading-sm
				%a.link-bg-icon{:href => "#"}
					%i.icon-custom.icon-sm.rounded-x.icon-bg-dark.fa.fa-html5
					%span Телемедицина
			%p.text-justify At vero eos et accusamus et iusto odio dignissimos ducimus. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been..
		.col-md-4.md-margin-bottom-30
			%h2.heading-sm
				%a.link-bg-icon{:href => "#"}
					%i.icon-custom.icon-sm.rounded-x.icon-bg-dark.fa.fa-html5
					%span ДЛО
			%p.text-justify At vero eos et accusamus et iusto odio dignissimos ducimus. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been..
	.row.content-boxes-v2.margin-bottom-30
		.col-md-4.md-margin-bottom-30
			%h2.heading-sm
				%a.link-bg-icon{:href => "#"}
					%i.icon-custom.icon-sm.rounded-x.icon-bg-dark.icon-line.icon-support
					%span Оценка качества медициских организаций
			%p.text-justify At vero eos et accusamus et iusto odio dignissimos ducimus. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been..
		.col-md-4.md-margin-bottom-30
			%h2.heading-sm
				%a.link-bg-icon{:href => "#"}
					%i.icon-custom.icon-sm.rounded-x.icon-bg-dark.fa.fa-thumbs-o-up
					%span Скрининг ВПЧ
			%p.text-justify At vero eos et accusamus et iusto odio dignissimos ducimus. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been..
		.col-md-4.md-margin-bottom-30
			%h2.heading-sm
				%a.link-bg-icon{:href => "#"}
					%i.icon-custom.icon-sm.rounded-x.icon-bg-dark.fa.fa-thumbs-o-up
					%span Еще один крутой проект
			%p.text-justify At vero eos et accusamus et iusto odio dignissimos ducimus. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been..
	
	/ Recent Works
	= render 'shared/news'
	= render 'shared/statistics'
	= render 'shared/clients'