.container.content
	.margin-bottom-10
	/ Service Blocks
	.row.content-boxes-v2.margin-bottom-30
		.col-md-4.md-margin-bottom-30
			%h2.heading-sm
				%a.link-bg-icon{:href => "#"}
					%i.icon-custom.icon-sm.rounded-x.icon-bg-dark.fa.fa-desktop
					%span MEDNET
			%p.text-justify Данный проект организован с 2007 года.  Создана корпоративная сеть медицинских учреждений Калужской области, в которую вошли все учреждения здравоохранения территории, так же на корпоративном сайте размещена различная специализированная рабочая информация (приказы, формы отчётности, новости, материалы совещаний и пр.), необходимая для деятельности учреждений здравоохранения.
		.col-md-4.md-margin-bottom-30
			%h2.heading-sm
				%a.link-bg-icon{:href => "#"}
					%i.icon-custom.icon-sm.rounded-x.icon-bg-dark.fa.fa-html5
					%span Телемедицина
			%p.text-justify
				Данный проект работает в рамках модернизации и как отдельный проект, по предлоставлению услуг телемедецины и проводимых мастер-классов в учреждениях здравоохранения на территории Калужской области.
		.col-md-4.md-margin-bottom-30
			%h2.heading-sm
				%a.link-bg-icon{:href => "#"}
					%i.icon-custom.icon-sm.rounded-x.icon-bg-dark.fa.fa-medkit
					%span Оценка качества медициских услуг
			%p.text-justify Проект Министерства здравоохранения РФ, направлен на оценку качества предосталяемых услуг на территории Калужской области.
	.row.content-boxes-v2.margin-bottom-30
		.col-md-4.md-margin-bottom-30
			%h2.heading-sm
				%a.link-bg-icon{:href => "#"}
					%i.icon-custom.icon-sm.rounded-x.icon-bg-dark.fa.fa-hospital-o
					%span Дополнительное лекарственное обеспечение (ДЛО)
			%p.text-justify ГБУЗ КО "МИАЦ Калужской области" с 2008 года принимает участие в в обслуживании рецептов по программе дополнительного лекарственного обеспечения.
		.col-md-4.md-margin-bottom-30
			%h2.heading-sm
				%a.link-bg-icon{:href => "#"}
					%i.icon-custom.icon-sm.rounded-x.icon-bg-dark.fa.fa-user-md
					%span Скрининг ВПЧ
			%p.text-justify Проект Министерства здравоохранения в рамках программы "Профилактики ВПЧ в регионе".
		.col-md-4.md-margin-bottom-30
			%h2.heading-sm
				%a.link-bg-icon{:href => "#"}
					%i.icon-custom.icon-sm.rounded-x.icon-bg-dark.fa.fa-cloud
					%span Модернизация
			%p.text-justify С 2011 ГБУЗ КО "МИАЦ Калужской области" активно учавствует в реализации программы модернизации здравоохранения Калужской области в части её информатизации. В рамках данных работ произведено дооснащение парка техники в ЛПУ, построен защищенный сегмент передачи данных, а так же активно развивается региональная медицинская информационная система.
	
	/ Recent Works
	= render 'shared/news'
	= render 'shared/statistics'
	= render 'shared/clients'