.container.content
	.margin-bottom-10
	/ Service Blocks
	.row.content-boxes-v2.margin-bottom-30
		.col-md-4.md-margin-bottom-30
			%h2.heading-sm
				%a.link-bg-icon{:href => "#"}
					%i.icon-custom.icon-sm.rounded-x.icon-bg-dark.fa.fa-compress
					%span Fully Responsive
			%p.text-justify At vero eos et accusamus et iusto odio dignissimos ducimus. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been..
		.col-md-4.md-margin-bottom-30
			%h2.heading-sm
				%a.link-bg-icon{:href => "#"}
					%i.icon-custom.icon-sm.rounded-x.icon-bg-dark.fa.fa-html5
					%span HTML5 + CSS3
			%p.text-justify At vero eos et accusamus et iusto odio dignissimos ducimus. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been..
		.col-md-4
			%h2.heading-sm
				%a.link-bg-icon{:href => "#"}
					%i.icon-custom.icon-sm.rounded-x.icon-bg-dark.icon-line.icon-rocket
					%span Launch Ready
			%p.text-justify At vero eos et accusamus et iusto odio dignissimos ducimus. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been..
	.row.content-boxes-v2.margin-bottom-30
		.col-md-4.md-margin-bottom-30
			%h2.heading-sm
				%a.link-bg-icon{:href => "#"}
					%i.icon-custom.icon-sm.rounded-x.icon-bg-dark.icon-line.icon-support
					%span Dedicated Support
			%p.text-justify At vero eos et accusamus et iusto odio dignissimos ducimus. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been..
		.col-md-4.md-margin-bottom-30
			%h2.heading-sm
				%a.link-bg-icon{:href => "#"}
					%i.icon-custom.icon-sm.rounded-x.icon-bg-dark.fa.fa-thumbs-o-up
					%span Premium Sliders
			%p.text-justify At vero eos et accusamus et iusto odio dignissimos ducimus. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been..
		.col-md-4
			%h2.heading-sm
				%a.link-bg-icon{:href => "#"}
					%i.icon-custom.icon-sm.rounded-x.icon-bg-dark.icon-line.icon-present
					%span FREE Updates
			%p.text-justify At vero eos et accusamus et iusto odio dignissimos ducimus. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been..
	/ End Service Blokcs
	/ Recent Works
	.owl-carousel-v1.owl-work-v1.margin-bottom-40
		.headline
			%h2.pull-left Recent Works
			.owl-navigation
				.customNavigation
					%a.owl-btn.prev-v2
						%i.fa.fa-angle-left
					%a.owl-btn.next-v2
						%i.fa.fa-angle-right
			/ /navigation
		.owl-recent-works-v1.owl-carousel.owl-theme{:style => "opacity: 1; display: block;"}
			.owl-wrapper-outer
				.owl-wrapper{:style => "width: 7600px; left: 0px; display: block;"}
					.owl-item{:style => "width: 380px;"}
						.item
							%a{:href => "#"}
								%em.overflow-hidden
									%img.img-responsive{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img1.jpg"}/
								%span
									%strong Happy New Year
									%i Anim pariatur cliche reprehenderit
					.owl-item{:style => "width: 380px;"}
						.item
							%a{:href => "#"}
								%em.overflow-hidden
									%img.img-responsive{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img2.jpg"}/
								%span
									%strong Award Winning Agency
									%i Responsive Bootstrap Template
					.owl-item{:style => "width: 380px;"}
						.item
							%a{:href => "#"}
								%em.overflow-hidden
									%img.img-responsive{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img3.jpg"}/
								%span
									%strong Wolf Moon Officia
									%i Pariatur prehe cliche reprehrit
					.owl-item{:style => "width: 380px;"}
						.item
							%a{:href => "#"}
								%em.overflow-hidden
									%img.img-responsive{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img4.jpg"}/
								%span
									%strong Food Truck Quinoa Nesciunt
									%i Craft labore wes anderson cred
					.owl-item{:style => "width: 380px;"}
						.item
							%a{:href => "#"}
								%em.overflow-hidden
									%img.img-responsive{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img5.jpg"}/
								%span
									%strong Happy New Year
									%i Anim pariatur cliche reprehenderit
					.owl-item{:style => "width: 380px;"}
						.item
							%a{:href => "#"}
								%em.overflow-hidden
									%img.img-responsive{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img1.jpg"}/
								%span
									%strong Happy New Year
									%i Anim pariatur cliche reprehenderit
					.owl-item{:style => "width: 380px;"}
						.item
							%a{:href => "#"}
								%em.overflow-hidden
									%img.img-responsive{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img2.jpg"}/
								%span
									%strong Award Winning Agency
									%i Responsive Bootstrap Template
					.owl-item{:style => "width: 380px;"}
						.item
							%a{:href => "#"}
								%em.overflow-hidden
									%img.img-responsive{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img3.jpg"}/
								%span
									%strong Wolf Moon Officia
									%i Pariatur prehe cliche reprehrit
					.owl-item{:style => "width: 380px;"}
						.item
							%a{:href => "#"}
								%em.overflow-hidden
									%img.img-responsive{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img4.jpg"}/
								%span
									%strong Food Truck Quinoa Nesciunt
									%i Craft labore wes anderson cred
					.owl-item{:style => "width: 380px;"}
						.item
							%a{:href => "#"}
								%em.overflow-hidden
									%img.img-responsive{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img5.jpg"}/
								%span
									%strong Happy New Year
									%i Anim pariatur cliche reprehenderit
			.owl-controls.clickable
				.owl-pagination
					.owl-page.active
						%span
					.owl-page
						%span
					.owl-page
						%span
					.owl-page
						%span
	/ End Recent Works
	/ Info Blokcs
	.row.margin-bottom-20
		/ Welcome Block
		.col-md-8.md-margin-bottom-40
			.headline
				%h2 Welcome To Unify
			.row
				.col-sm-4
					%img.img-responsive.margin-bottom-20{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img12.jpg"}/
				.col-sm-8
					%p Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.
					%ul.list-unstyled.margin-bottom-20
						%li
							%i.fa.fa-check.color-green
							Donec id elit non mi porta gravida
						%li
							%i.fa.fa-check.color-green
							Corporate and Creative
						%li
							%i.fa.fa-check.color-green
							Responsive Bootstrap Template
						%li
							%i.fa.fa-check.color-green
							Corporate and Creative
			%blockquote.hero-unify
				%p Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why. Unify is an incredibly beautiful responsive Bootstrap Template for corporate professionals.
				%small CEO, Jack Bour
		/ /col-md-8
		/ Latest Shots
		.col-md-4.md-margin-bottom-20
			.headline
				%h2 Latest Shots
			#myCarousel.carousel.slide.carousel-v1
				.carousel-inner
					.item.active
						%img{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img5.jpg"}/
						.carousel-caption
							%p Facilisis odio, dapibus ac justo acilisis gestinas.
					.item
						%img{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img4.jpg"}/
						.carousel-caption
							%p Cras justo odio, dapibus ac facilisis into egestas.
					.item
						%img{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img3.jpg"}/
						.carousel-caption
							%p Justo cras odio apibus ac afilisis lingestas de.
				.carousel-arrow
					%a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
						%i.fa.fa-angle-left
					%a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
						%i.fa.fa-angle-right
		/ /col-md-4
	/ /row
	/ End Info Blokcs
	/ Owl Clients v1
	.headline
		%h2 Our Clients
	.owl-clients-v1.owl-carousel.owl-theme{:style => "opacity: 1; display: block;"}
		.owl-wrapper-outer
			.owl-wrapper{:style => "width: 2934px; left: -163px; display: block;"}
				.owl-item{:style => "width: 163px;"}
					.item
						%img{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/clients4/1.png"}/
				.owl-item{:style => "width: 163px;"}
					.item
						%img{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/clients4/2.png"}/
				.owl-item{:style => "width: 163px;"}
					.item
						%img{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/clients4/3.png"}/
				.owl-item{:style => "width: 163px;"}
					.item
						%img{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/clients4/4.png"}/
				.owl-item{:style => "width: 163px;"}
					.item
						%img{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/clients4/5.png"}/
				.owl-item{:style => "width: 163px;"}
					.item
						%img{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/clients4/6.png"}/
				.owl-item{:style => "width: 163px;"}
					.item
						%img{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/clients4/7.png"}/
				.owl-item{:style => "width: 163px;"}
					.item
						%img{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/clients4/8.png"}/
				.owl-item{:style => "width: 163px;"}
					.item
						%img{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/clients4/9.png"}/
		.owl-controls.clickable
			.owl-pagination
				.owl-page.active
					%span
				.owl-page
					%span
	/ End Owl Clients v1