.purchase
  .container
    .row
      .col-md-9.animated.fadeInLeft
        %span Unify is a clean and fully responsive incredible Template.
        %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi  vehicula sem ut volutpat. Ut non libero magna fusce condimentum eleifend enim a feugiat corrupti quos.
      .col-md-3.btn-buy.animated.fadeInRight
        %a.btn-u.btn-u-lg{:href => "#"}
          %i.fa.fa-cloud-download
          Download Now