.purchase
  .container
    .row
      .col-md-9.animated.fadeInLeft
        %span Запись на прием к врачу в электронном ввиде
        %p Теперь не нужно стаять в очереди перед регистратрой,достаточно записаться к врачку с помощью сервиса в любое удобное для вас время.
      .col-md-3.btn-buy.animated.fadeInRight
        = link_to "http://xn--40-6kcanlw5ddbimco.xn--p1ai/", class: "btn btn-primary" do
          %i.fa.fa-phone.fa-1x
          Запись на прием к врачу