.owl-carousel-v1.owl-work-v1.margin-bottom-40
	.headline
		%h2.pull-left Статистика
		.owl-navigation
			.customNavigation
				%a.owl-btn.prev-v2
					%i.fa.fa-angle-left
				%a.owl-btn.next-v2
					%i.fa.fa-angle-right
	%center
		%h3 Данный раздел находится в наполнении
	
/ .row.margin-bottom-20
/ 	/ Welcome Block
/ 	.col-md-8.md-margin-bottom-40
/ 		.headline
/ 			%h2 Welcome To Unify
/ 		.row
/ 			.col-sm-4
/ 				%img.img-responsive.margin-bottom-20{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img12.jpg"}/
/ 			.col-sm-8
/ 				%p Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.
/ 				%ul.list-unstyled.margin-bottom-20
/ 					%li
/ 						%i.fa.fa-check.color-green
/ 						Donec id elit non mi porta gravida
/ 					%li
/ 						%i.fa.fa-check.color-green
/ 						Corporate and Creative
/ 					%li
/ 						%i.fa.fa-check.color-green
/ 						Responsive Bootstrap Template
/ 					%li
/ 						%i.fa.fa-check.color-green
/ 						Corporate and Creative
/ 		%blockquote.hero-unify
/ 			%p Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why. Unify is an incredibly beautiful responsive Bootstrap Template for corporate professionals.
/ 			%small CEO, Jack Bour
/ 	/ /col-md-8
/ 	/ Latest Shots
/ 	.col-md-4.md-margin-bottom-20
/ 		.headline
/ 			%h2 Latest Shots
/ 		#myCarousel.carousel.slide.carousel-v1
/ 			.carousel-inner
/ 				.item.active
/ 					%img{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img5.jpg"}/
/ 					.carousel-caption
/ 						%p Facilisis odio, dapibus ac justo acilisis gestinas.
/ 				.item
/ 					%img{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img4.jpg"}/
/ 					.carousel-caption
/ 						%p Cras justo odio, dapibus ac facilisis into egestas.
/ 				.item
/ 					%img{:alt => "", :src => "http://htmlstream.com/preview/unify-v1.7/assets/img/main/img3.jpg"}/
/ 					.carousel-caption
/ 						%p Justo cras odio apibus ac afilisis lingestas de.
/ 			.carousel-arrow
/ 				%a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
/ 					%i.fa.fa-angle-left
/ 				%a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
/ 					%i.fa.fa-angle-right
/ 	/ /col-md-4