.wrapper
  .breadcrumbs-v2.faq-breadcrumb.margin-bottom-20
    .breadcrumbs-v2-in
      %h1 Оценка качества обслуживания в медицинских организациях
      -#= link_to "Оценка качества обслуживания в медицинских организациях", "#"