-#.wrapper
-#  .breadcrumbs-v2.faq-breadcrumb.margin-bottom-20
-#    .breadcrumbs-v2-in
-#      %h1 Оценка качества обслуживания в медицинских организациях
-#      -#= link_to "Оценка качества обслуживания в медицинских организациях", "#"
=render 'head'
.container.content.faq-page
  / FAQ Blocks
  .row.equal-height-columns.margin-bottom-40
    -if RatingForm.current_hospital
      =link_to add_hospital_ratings_path do
        .col-sm-4
          .easy-block-v3.service-or.equal-height-column{:style => "height: 100px;"}
            .service-bg
            %i.icon-badge
            .inner-faq-b
              %centre
                %h3
                  Стационар
            -#Стационар
    -if RatingForm.current_ambul
      =link_to add_ambul_ratings_path do
        .col-sm-4
          .easy-block-v3.service-or.equal-height-column{:style => "height: 100px;"}
            .service-bg
            %i.icon-directions
            .inner-faq-b
              %centre
                %h3
                  Амбулатория
    -if user_signed_in?
      = link_to list_ratings_path do
        .col-sm-4
          .easy-block-v3.service-or.equal-height-column{:style => "height: 100px;"}
            .service-bg
            %i.icon-directions
            .inner-faq-b
              %centre
                %h3
                  Анкеты
  .row
    / Begin Tab v1
    -#.col-md-12
    -#  .tab-v1
    -#    %ul.nav.nav-tabs.margin-bottom-20
    -#      %li.active
    -#        %a{"data-toggle" => "tab", :href => "#servers"} Сервера
    -#      %li
    -#        %a{"data-toggle" => "tab", :href => "#network"} Сети
        = render 'shared/tab_content'