-#.wrapper
-#  .breadcrumbs-v2.faq-breadcrumb.margin-bottom-20
-#    .breadcrumbs-v2-in
-#      %h1 Оценка качества обслуживания в медицинских организациях
-#      -#= link_to "Оценка качества обслуживания в медицинских организациях", "#"
=render 'head'
%center
  %h1 Ваш голос принят! Спасибо!
%center
  =link_to "На главную", root_path, class: "btn btn-primary"
  %h1
  = " "