.row
  .col-md-10.col-md-offset-1
    .panel.panel-info
      .panel-heading
        Календарь событий и задач. Редактирование
      .panel-body
        .row
          .col-md-12
            =render 'form'