.row
  .col-md-10.col-md-offset-1
    .panel.panel-info
      .panel-heading
        Календарь событий и задач. Создание нового события. Поля, помеченные звездочкой, обязательны для заполнения.
      .panel-body
        .row
          .col-md-12
            = render 'form'